<header class="eclipse-header">
    <div class="wrap">
        <nav class="main-nav">
            <div class="logo">
                <a href=""><img src="images/fav.png" alt=""> <span>Eclipse</span></a>
            </div>
            <div class="content">
                <ul class="nav-links">
                    <li><a href="#!">Home</a></li>
                    <li><a href="#!">About</a></li>
                    <li><a href="#!" class="hover-menu">Pages <i class="fa-solid fa-caret-down"></i></a></li>
                </ul>
            </div>
            <div class="hamburger">
                <span></span>

            </div>
        </nav>
    </div>
</header>