<div class="eclipse-menu-header">
    <div class="inner">
        <div class="items">
            <div class="title">
                <h3>Lorem</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente minima, saepe voluptate explicabo
                    distinctio illum. Itaque possimus distinctio repellendus quo?</p>
            </div>
        </div>
        <div class="items buttons">
            <div class="info">

                <ul>
                    <li><span>About</span></li>
                    <li><span>Projects</span></li>
                </ul>
            </div>
            <div class="large-info">

                <div class="one">
                    <a href="#!">press me one</a>
                </div>
                <div class="two">
                    <a href="#!">press me two</a>
                </div>
            </div>
        </div>


























    </div>
</div>