<div class="eclipse-hero" style="background-image: url(images/home-banner.png);">
    <div class="wrap">
        <div class="inner">
            <div class="items left">
                <div class="info-text">
                    <h1>Take the first step with <span>us</span></h1>
                </div>
                <div class="dots"></div>
            </div>
            <div class="items right">
                <img src="images/header-img.png" alt="header-img" class="img-fluid">
            </div>
        </div>

    </div>

</div>