<div class="eclipse-documentation">

    <div class="wrap">
        <div class="text">
            <h2>Our <span>items</span></h2>

        </div>

        <div class="photo-content">
            <div class="buttons">
                <div class="item-btns swiper-button-prev"></div>
                <div class="item-btns swiper-button-next"></div>

            </div>
            <div class="swiper mySwiper">

                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="hovering">
                            <div class="inner-slide">
                                <div class="photo" style="background-image: url(images/p4.jpg);">

                                </div>
                                <div class="location">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <p>Cannes, France</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hovering pad">
                            <div class="inner-slide">
                                <div class="photo" style="background-image: url(images/p2.jpg);"></div>
                                <div class="location">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <p>Prague, Czech Republic</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hovering">
                            <div class="inner-slide">
                                <div class="photo" style="background-image: url(images/p3.jpg);"></div>
                                <div class="location">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <p>Marbella, Spain</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hovering pad">
                            <div class="inner-slide">
                                <div class="photo" style="background-image: url(images/p1.jpg);"></div>
                                <div class="location">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <p>Danube, Romania</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="hovering ">
                            <div class="inner-slide">
                                <div class="photo" style="background-image: url(images/p5.jpg);"></div>
                                <div class="location">
                                    <i class="fa-solid fa-location-dot"></i>
                                    <p>Marseille, France</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="swiper-button-next "></div>
                <div class="swiper-button-prev"></div> -->

            </div>

        </div>
    </div>
</div>