.eclipse-menu-header {
  position: absolute;
  top: 77.5px;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
  visibility: hidden;
  transform: rotateX(-90deg);
  transform-origin: 0 0;
  opacity: 0;
  height: 300px;
  background: #f7f7f7;
  border-radius: 0px 0px 10px 10px;

  transition: all 0.2s ease-in-out 0s;
  &.show-menu {
    opacity: 1;
    visibility: visible;
    transform: rotateX(0deg);
  }
  @media (min-width: $lg) {
    width: calc(100% - 30px);
  }
  @media (min-width: $xl) {
    max-width: 1140px;
  }

  .inner {
    display: flex;
    flex-direction: row;
    padding: 20px;
    height: 100%;
    .items {
      width: 25%;
      .title {
        width: 80%;
      }
      &.buttons {
        display: flex;
        flex-direction: row;
        width: 75%;
        .info {
          height: 200px;
          width: 30%;
          ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
              padding: 10px 0;
              span {
                color: #000;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 600;
                display: block;
                font-family: "Roboto", sans-serif;
                padding: 10px 0 10px 10px;
                background: #dee2e6;
                border-radius: 10px;
              }
            }
          }
        }
        .large-info {
          width: 70%;
          padding: 10px 0 0 20px;
          position: relative;
          div {
            height: 100%;
            visibility: hidden;
            transform: rotateY(-90deg);
            transform-origin: 0 0;
            opacity: 0;
            position: absolute;
            height: calc(100% - 10px);
            width: calc(100% - 20px);

            &.one,
            &.two {
              background: #dee2e6;
              border-radius: 10px;
              transition: all 0.2s ease-in-out;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            &.show-div {
              opacity: 1;
              visibility: visible;
              transform: rotateY(0deg);
            }
            &.one {
              a {
                &:after {
                  content: "";
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  left: 0;
                  top: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
