.eclipse-menu-mobile {
  position: absolute;
  top: 77.5px;

  right: -100vw;
  z-index: 1;
  background: #fff;
  width: 0%;
  position: fixed; // this removes the ##### space when goes to the right
  transform: translateX(100%);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  &.show-mobile-menu {
    right: 0;
    transform: none;
    width: 100%;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
}
