.eclipse-documentation {
  background: #f3f2f5;
  .wrap {
    width: calc(100% - 30px);
    margin: 0 auto;
    @media (min-width: $lg) {
      max-width: 80%;
    }
    p,
    a,
    span,
    h1,
    h2,
    span {
      margin: 0;
      font-family: "Playfair Display", serif;
    }
    .text {
      text-align: center;
      padding: 70px 0 50px 0;
      @media (min-width: $lg) {
        padding: 100px 0 80px 0;
      }
      h2 {
        font-family: "Roboto", sans-serif;
        font-size: 48px;
        display: inline-block;
        span {
          position: relative;
          font-family: "Roboto", sans-serif;
          &:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            bottom: 4px;
            background: #833efa;
            left: 0;
          }
        }
      }
    }
    .photo-content {
      .buttons {
        display: flex;
        justify-content: space-between;
        position: relative;
        height: 50px;
        width: 120px;
        margin: 0 auto;
        @media (min-width: $lg) {
          margin: 0 0 0 auto;
        }
        .item-btns {
          width: 52px;
          height: 52px;
          position: relative;
          left: 0;
          right: 0;
          top: 0;
          margin: 0;
          color: #833efa;
          &.swiper-button-next,
          &.swiper-button-prev {
            &:focus {
              outline: none;
            }
            &:after {
              content: "\f061";
              position: absolute;

              font-family: FontAwesome;
            }
            &.swiper-button-prev {
              &:after {
                rotate: 180deg;
              }
            }
          }
        }
      }
      .swiper {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 20px 0 0 0;
        .swiper-wrapper {
          .swiper-slide {
            .hovering {
              &.pad {
                padding: 0;
                @media (min-width: $lg) {
                  padding: 30px 0 0 0;
                }
              }
              .inner-slide {
                overflow: hidden;

                .photo {
                  background-position: 50%;
                  background-repeat: no-repeat;
                  background-size: cover;
                  transition: all 0.3s ease-in-out;
                  position: relative;
                  &:before {
                    content: "";
                    display: block;
                    padding: 130% 0 0 0;
                  }
                  &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background: #000;
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                  }
                }
                .location {
                  display: flex;
                  position: relative;
                  z-index: 1;
                  flex-direction: row;
                  justify-content: center;
                  align-items: center;
                  background: #fafafa;
                  padding: 20px 0;
                  font-size: 17px;
                  p {
                    padding: 0 0 0 10px;
                    font-family: "Roboto", sans-serif;
                    font-weight: 700;
                  }
                }
                &:hover .photo {
                  transform: scale(1.3, 1.3);
                  transition: all 0.3s ease-in-out;
                }

                &:hover :after {
                  opacity: 0.2;
                  transition: all 0.3s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
  }
}
