.eclipse-skills {
  margin-top: 0;
  position: relative;
  @media (min-width: $lg) {
    margin-top: -210px;
  }
  .wrap {
    width: 100%;
    @media (min-width: $lg) {
      max-width: 55%;
    }

    p,
    a,
    span,
    h1,
    h2 {
      margin: 0;
      font-family: "Playfair Display", serif;
    }
    .inner {
      .skills {
        display: flex;
        flex-direction: column;

        .text {
          width: 75%;
          margin: 0 auto;
          text-align: center;
          padding: 0 0 10px 0;
          @media (min-width: $lg) {
            max-width: 700px;
            margin: 0;
          }
          h2 {
            font-family: "Roboto", sans-serif;
            font-size: 40px;
            @media (min-width: $lg) {
              font-size: 48px;
            }
          }
        }
        .marquee {
          background: linear-gradient(-135deg, #008ed9, #8b00db);
          width: 100%;
          padding: 1em;
          color: #fff;
          font-weight: 200;
          display: flex;
          align-items: center;
          overflow: hidden;
          border-radius: 0;
          @media (min-width: $lg) {
            border-radius: 0px 10px 10px 0px;
          }
          .marquee-content {
            display: flex;
            animation: inf 50s linear infinite running;

            .marquee-tag {
              width: 150px;
              height: 150px;
              margin: 0 10px;

              background: #f7f7f7;
              box-shadow: 3px 3px 0 rgba(32, 33, 37, 0.1);
              display: inline-flex;
              align-items: center;
              justify-content: center;
              transition: all 0.2s ease;
              border-radius: 10px;
              @media (min-width: $lg) {
                width: 200px;
                height: 200px;
              }

              i {
                color: #000;
                font-size: 40px;
              }
            }
          }
          @keyframes inf {
            0% {
              transform: translateX(0);
            }
            100% {
              transform: translate(-50%);
            }
          }
        }
      }
    }
  }
}
