<div class="eclipse-hero-products">
    <div class="wrap">
        <div class="inner">
            <div class="info">
                <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, iusto.</h1>
            </div>
            <div class="blob">
                <div class="social">
                    <div class="btns">
                        <a href="#!">See more</a>
                    </div>
                    <div class="btns">
                        <a href="#!"> <i class="fa-regular fa-circle-play"></i> Watch video</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>