{% extends "partials/layout.html" %}

{% block content %}









<!-- Eclipse Header -->
{% include "partials/eclipse-home/eclipse-header.html" %}

<!-- Eclipse Menu Mobile -->
{% include "partials/eclipse-home/eclipse-menu-mobile.html" %}



<div class="home-page">
    <!-- Eclipse Hero -->
    {% include "partials/eclipse-home/eclipse-hero.html" %}

    <!-- Eclipse Skills -->
    {% include "partials/eclipse-home/eclipse-skills.html" %}

</div>



{% endblock %}