{% extends "partials/layout.html" %}

{% block content %}









<!-- Eclipse Header -->
{% include "partials/eclipse-home/eclipse-header.html" %}

<!-- Eclipse Menu Header -->
{% include "partials/eclipse-home/eclipse-menu-header.html" %}

<!-- Eclipse Menu Mobile -->
{% include "partials/eclipse-home/eclipse-menu-mobile.html" %}



<div class="products">
    <!-- Eclipse Hero -->
    {% include "partials/eclipse-products/eclipse-hero-products.html" %}



    <!-- Eclipse Documnetation -->
    {% include "partials/eclipse-home/eclipse-documentation.html" %}
</div>

<!-- Eclipse Back to top button -->
{% include "partials/eclipse-home/back-top-button.html" %}


<!-- Eclipse Footer Desktop -->
{% include "partials/eclipse-home/eclipse-footer-desktop.html" %}



{% endblock %}